<%#  when user click add service then this page is open  %>
<%# %>
<div style="padding-top: 30px;">
<div class="card col-sm-8 col-sm-offset-2" >
<div class="card-body">
<div class="container">

  <h2> Description </h2>
  <br>

  <%= form_with model: @request ,url: addDescription_users_path , local: true do |f| %>

    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :description%>
      </div>
      <div class="col-sm-8">     
          <%=  f.text_area :description, placeholder: "Enter description" ,class:"form-control"%> 
      </div>
    </div>
    <br><br><br><br>

    <div class="form-group">
      <div class="control-label col-sm-offset-3 col-sm-6">
        <%= f.submit "Submit", class:"btn btn-success btn-block btn-size" %>
      </div>    
    </div>
  
  <% end %>
  <br><br><br><br>

</div>     
</div>
</div>
</div>